<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>방 비밀번호 입력</title>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script language = "JavaScript" charset = "UTF-8">
        var temp = '{{room_id}}';
        function intoTheRoom()
        {
            var passwd = $("#input_password").val();

            data={'passwd': passwd, 'roomid' : temp};
            json_data=JSON.stringify(data);

            $.ajax
            ({
                type: 'POST',
                headers:
                {
                   'Accept': 'application/json',
                   'Content-Type': 'application/json'
                },
                url: '/roomlogin',
                async: false,
                data: json_data,
                success: function(result){
                   location.reload();
                },
                statusCode:{
                    404:function(msg){
                        alert(msg.responseText);
                    },
                    400:function(msg){
                        alert(msg.responseText);
                    },
                    405:function(msg){
                        alert(msg.responseText);
                    }
                }
            });
        }
    </script>
</head>
<body>
    방 번호: {{room_id}}
    <form action="" id = "log-in" method = "POST">
        <input type ="password" id = "input_password" class = "form-control" placeholder = "비밀번호 입력">
        <button class="btn btn-success" type = "button" onclick="intoTheRoom()">방 입장</button>
        <p><a href = "/">메인으로 돌아가기</a></p>
    </form>
</body>
</html>